
.top__bar{
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.top__bar > h1{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    padding: 0 15px;
}

.top__bar > div{
    padding: 10px 15px;
    width: 100%;
    background: #fff;
    position: sticky;
    top: 0;
}

.top__bar > div > input{
    padding: 15px;
    font-size: 14px;
    font-family: inherit;
    text-align: center;
    width: 100%;
    max-width: 400px;
    color: #111;
    background: transparent;
    border-radius: 20px;
    border: 1px solid silver;
    outline: none;
}

.top__bar > div > input{
    color: slategray;
}